* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  margin: 0;
}

.header-wrapper {
  background: url("../Images/background.png") no-repeat center;
  background-size: 1920px 1080px;
  // height: 100vh;
}

.section-header-lg {
  line-height: 80px;
  font-size: 58px;
  letter-spacing: 0.2px;
  font-weight: 800;
  text-align: center;
}

.section-header-para-sizing {
  font-size: 20px;
  padding: 0px 109px;
  padding-bottom: 40px;
  letter-spacing: 0.2px;
  text-align: center;
  font-weight: 500;
  line-height: 30px;
}
.paragraph-style {
  letter-spacing: 0.2px;
  text-align: center;
  font-weight: 500;
  line-height: 30px;
}

.yellow-btn {
  border-radius: 37px;
  background: #ffa62b;
  padding: 10px 36px;
  font-weight: 700;
}

.transparent-btn {
  padding: 10px 36px;
  border: 1px solid #ffffff;
  border-radius: 37px;
}

.card-shadow-box {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card-box-shadow {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.card-pos {
  position: relative;
  bottom: -221px;
}

//     margin-top: 50vh;
//     margin-left: 50px;
// }

.card-header-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.card-paragraph-small {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.second-cardSection-headerText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.second-cardsection-paragraphText {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.second-cardsection-btn {
  padding: 10px 30px;
  border: 1px solid #00a0c1;
  border-radius: 37px;
  color: #00a0c1;
}
.second-cardsection-btn-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.cards-wrapper {
  margin-top: 150px;
  background-color: #fafafa;
  align-self: stretch;
  // .card {
  //   width: 16rem;
  // }
}

.video-small-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.1px;

  /* text-color */

  color: #252b42;
}

.video-small-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.2px;

  /* second-text-color */

  color: #737373;
}

.section-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  /* or 142% */

  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.section-paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;
  letter-spacing: 0.2px;

  /* second-text-color */

  color: #737373;
}

.clients-card-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.client-card-subtext {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.section-separator {
  margin-bottom: 150px;
}

#client-card-img {
  position: absolute;
  top: 26px;
  left: -64px;
}

.meet-section-card-header {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.2px;

  color: #ffa62b;
}

.meet-section-card-subheader {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1px;

  /* text-color */

  color: #252b42;
}

.section-size {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.form-btn {
  padding: 15px 40px;
  gap: 10px;
  background: #ffa62b;
  border-radius: 5px;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */

  text-align: center;
  letter-spacing: 0.2px;
}

.form-pos {
  position: relative;
  bottom: -259px;
}

.card-sm-size {
  width: 36rem;
}


.client-section {
  .row.flex-nowrap {
    #col-left {
      margin-left: -14px;
    }
    #col-mid {
      margin-right: -90px;
    }
    
    #col-right {
      margin-left: 247px;
    }
  }
}
.cards-wrapper {
  .card {
    width: 18rem;
  }
}
.meet-our-team-section {
  .card {
    width: 16rem;
    margin-bottom: 30px;
  }
}
.form-section-wrapper {
  margin-bottom: 350px;
  .container {
    padding: 3rem;
  }
  .col-md-7 {
    .section-header.text-start {
      max-width: 75%;
    }
  }
}

.footer {
  .container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
  }
}

.nav-font-sm {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;

  text-align: center;
  letter-spacing: 0.2px;

  color: #737373;
}

.toggle-nav-sm {
  display: none;
}



@media only screen and (max-width: 700px) {
  .header-wrapper {
    background-size: auto 100%;

    height: auto;
  }
  .section-header {
    word-wrap: break-word;
    font-size: 40px;
  }

  .cards-wrapper {
    .row.flex-sm-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .card {
        width: auto;
      }
      .col-md-3 {
        margin-bottom: 40px;
      }
      .sm-btn {
        justify-content: center;
      }
    }
  }

  .header-wrapper {
    .section-header-lg {
      width: 100%;
      padding: 0;
    }
    .section-header-para-sizing {
      width: 100%;
      padding: 0;
    }
    .sm-btn-headersection {
      button {
        margin-bottom: 30px;
      }
    }

    .row.card-pos {
      position: unset;
      .col-md-3 {
        margin-bottom: 30px;
      }
    }
  }

  .video-section-wrapper {
    .col-md-7 {
      padding: 0;
      img {
        padding: 25px;
      }
    }

    .video-small-paragraph {
      padding-left: 1.5rem;
    }
  }

  .client-section {
    .row.flex-nowrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      #col-left {
        margin-left: 0;
      }
      #col-mid {
        margin-right: 0;
        padding: 0;
      }
      
      #col-right {
        margin-left: 0;
        padding: 0;
      }
      
    
    }
    .card-sm-size {
      width: auto;
      padding: 0;
    }
  }

  .meet-our-team-section {
    .card {
      width: auto;
    }
  }

  .form-section-wrapper {
    margin-bottom: 0;
    .container {
      padding: 0;
    }
    .col-md-7 {
      .section-header.text-start {
        padding: 0;
        max-width: 100%;
      }
      .section-paragraph.text-start {
        margin-bottom: 150px;
      }
    }
    .row.form-pos {
      margin-top: 200px;
      position: unset;
    }
  }

  .footer {
    .container {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      border-top: none;
    }
  }

  .toggle-nav-lg {
    display: none;
  }
  .toggle-nav-sm {
    display: block;
  }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
  .video-section-wrapper {
    .row.gap-5.gx-5 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .client-section {
    .row.flex-nowrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .card-sm-size {
        width: auto;
      }
  
          display: flex;
          flex-direction: column;
          align-items: center;
    
          #col-left {
            margin-left: 0;
          }
          #col-mid {
            margin-right: 0;
            padding: 0;
          }
          
          #col-right {
            margin-left: 0;
            padding: 0;
          }
    }
  }

  .meet-our-team-section {
    #team-sm {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .form-section-wrapper {
    margin-bottom: 0;
    .container {
      padding: 0;
    }
    .row{
      display:flex;
      flex-direction: column;
      align-items: center;

    }
  
    .col-md-7 {
      margin-top:50px;

      .section-header.text-start {
        padding: 0;
        max-width: 100%;
      }
      .section-paragraph.text-start {
        margin-bottom: 150px;
      }
    }
    .row.form-pos {
      margin-top: 200px;
      position: unset;
    }
  }
}
